<nav class="navbar navbar-expand-sm backgroundGrad" >
    <div class="container">
        <a class="navbar-brand text-light" routerLink="/faculty/courses">CMS <span class="fst-italic h6 text-secondary">students</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end px-4" id="navbarID">
            
            <div class="navbar-nav">
                <a class="btn btn-sm btn-danger" 
                (click)="handleLogout()" aria-current="page" >LogOut <small class="fw-bold text-warning">({{CurrentUser.UserID}})</small> </a>
            </div>
        </div>
    </div>
</nav>