#coursecard:hover{
    box-shadow: 4px 4px 24px 8px rgba(0, 0, 0, 0.25);
    transition-duration: 500ms;
    scale: 1.01;
}

#coursecards::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
#coursecards{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }