<div class="container">
    <ng-container *ngIf="Lectures.length===0">
        <p>No Lectures Found</p>
    </ng-container>
    <ng-container *ngIf="Lectures.length!==0">
        <table class="table table-striped-columns">
            <caption></caption>
            <thead>
                <tr class="row table-primary">
                    <th class="col-6 display-4 px-2">Students</th>
                    <th class="col-6" colspan="2">
                            <label for="select">Select Lecture :</label>
                            <select id="select" class="form-select form-select-sm" [(ngModel)]="currLecture">
                                <option selected>Select one</option>
                                <ng-container *ngFor="let lec of Lectures">
                                    <option [value]="lec.LID">
                                        Lecture {{lec.LID}} : <span class="text-primary">{{lec.Topic}} - ({{lec.Schedule|date:"mediumDate"}})</span>
                                    </option>
                                </ng-container>
                            </select>
                    </th>
                </tr>
            </thead>
            <ng-container *ngIf="Students!==undefined">
                <tbody *ngFor="let atten of Students">
                    <tr class="row">
                        <td class="col-6">{{atten.SID | studentname}}</td>
                        <td class="col-4 text-center">
                            <input class="form-check-input" type="checkbox" (change)="updateAttend(atten)" [(ngModel)]="atten.Status">                           
                        </td>
                        <td class="col-2">
                            <span *ngIf="atten.Status===null" class="w-auto text-center text-warning">Not Updated</span>
                            <span *ngIf="atten.Status===true" class="w-auto text-center text-success">Present</span>
                            <span *ngIf="atten.Status===false" class="w-auto text-center text-danger">Absent</span>
                        </td>
                    </tr>
                </tbody>
            </ng-container>
        </table>
    </ng-container>
</div>
